.sidebar {
    position: fixed;
    top: 70px;
    width: 260px;
    height: calc(100vh - 70px);
    padding: 20px 0;
    overflow-y: auto;
    z-index: 1020;
}

.sidebar-tabs {
    background-color: #fff;
    border: 2px solid #E5E7EB;
    border-radius: 16px;
    box-shadow: 0px 1px 3px 0px #0000001A;
    box-shadow: 0px 1px 2px -1px #0000001A;
    padding: 17px 17px 1px 17px;

}

.sidebar .nav-link {
    padding: 12px 24px;
    color: #364153;
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    /* border-left: 3px solid transparent; */
    margin-bottom: 4px;
    border-radius: 20px;
}

.sidebar .nav-link i {
    width: 24px;
    margin-right: 12px;
    font-size: 18px;
}

.sidebar .nav-link:hover {
    background-color: #f3f4f6;
    color: #10b981;
}

.sidebar .nav-link.active {
    color: #fff;
    font-weight: 600;
    border-left-color: #10b981;
    background: linear-gradient(90deg, #00A63E 0%, #008236 100%);
    box-shadow: 0px 4px 6px -4px #00A63E4D;
    border-radius: 16px;
    box-shadow: 0px 10px 15px -3px #00A63E4D;

}

.activity-widget {
    padding: 24px;
    background: linear-gradient(135deg, #00A63E 0%, #008236 100%);
    border-radius: 16px;
    box-shadow: 0px 4px 6px -4px #0000001A;
    box-shadow: 0px 10px 15px -3px #0000001A;
}

.activity-title {
    margin-bottom: 16px;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
}

.activity-item {
    color: #DCFCE7;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.activity-count {
    font-weight: 700;
}


@media (max-width: 1399px) {
    .sidebar {
        width: 230px;
    }
    .sidebar-tabs {
    padding: 17px 10px 1px 10px
    }
}
@media (max-width: 1199px) {
    .sidebar {
        width: 200px;
    }
}
@media (max-width: 991px) {
    .sidebar {
        width: 180px;
    }
    .sidebar .nav-link {
    padding: 12px 18px;
    }
       /* .sidebar {
        position: fixed;
        left: -360px;
        top: 70px;
        width: 260px;
        height: calc(100vh - 70px);
        background: #fff;
        transition: all 0.3s ease;
        z-index: 2000;
    }

    .sidebar.open {
        left: 0;
        z-index: 3000;
    } */
}
@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        left: -260px;
        top: 70px;
        width: 260px;
        height: calc(100vh - 70px);
        background: #fff;
        transition: all 0.3s ease;
        z-index: 2000;
    }

    .sidebar.open {
        left: 0;
        z-index: 3000;
    }
}

@media (max-width: 575px) {
    .activity-widget {
        padding: 18px;
    }
}

html.rtl .sidebar {
  left: auto !important;
  right: 0 !important;
}
