
html.rtl body {
  direction: rtl !important;
}

html.rtl app-sidebar .sidebar {
  left: auto !important;
  right: 240px !important;
}

html.rtl .main-content-main {
  margin-left: 0 !important;
  margin-right: 250px !important;
}

html.rtl .main-content-main.sidebar-collapsed {
  margin-right: 70px !important;
}

@media (max-width: 1699px) {
  html.rtl app-sidebar .sidebar {
    right: 220px !important;
  }
}
@media (max-width: 1599px) {
  html.rtl app-sidebar .sidebar {
    right: 190px!important;
  }

  html.rtl .main-content-main {
    margin-right: 290px !important;
  }
}

@media (max-width: 1199px) {
  html.rtl app-sidebar .sidebar {
    right: 80px !important;
  }
 html.rtl app-sidebar .sidebar.collapsed {
    right: -200px !important;
  }
  html.rtl .main-content-main {
    margin-right: 220px !important;
  }
}

@media (max-width: 768px) {
  html.rtl app-sidebar .sidebar {
    right: 0 !important;
  }
html.rtl app-sidebar .sidebar.collapsed {
    right: -260px !important;
  }
  html.rtl .main-content-main {
    margin-right: 0 !important;
  }

  html.rtl .main-content-main.sidebar-collapsed {
    margin-right: 0 !important;
  }
}

@media (max-width: 575px) {
  html.rtl .main-content-main {
    margin-right: 0 !important;
    padding: 15px 5px !important;
  }
}

@media (max-width: 480px) {
  html.rtl .main-content-main {
    margin-right: 0 !important;
    padding: 10px 0px !important;
  }
}

html.rtl app-sidebar .sidebar.collapsed {
  right: -260px !important;  
}
